@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Common */

body {
  width: 100%;
  margin: 0;
  background-color: #f2f2f2;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
}

.white {
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.button {
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #756157;
}

/* Page Header */

.page-header {
  display: flex;
  justify-content: center;
  height: 64px;
  gap: 30px;
  padding: 0 70px;
}

.page-header .logo:hover {
  opacity: 0.9;
}

.page-header .logo:focus-visible {
  outline: 2px solid #68a2ca;
}

.page-header .logo:active {
  opacity: 0.7;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigation-menu-list,
.navigation-controls-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navigation-menu-item {
  padding: 20px 16px;
}

.navigation-menu-link,
.navigation-controls-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-menu-link {
  position: relative;
  padding-bottom: 20px;
}

.navigation-menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #756257;
}

.navigation-menu-link:not(.current):hover {
  opacity: 0.6;
}

.navigation-menu-link:focus-visible {
  outline: 2px solid #68a2ca;
  border: none;
}

.navigation-menu-link:not(.current):active {
  opacity: 0.3;
}

.icon-link:hover,
.icon-link:focus-visible,
.icon-link:active {
  opacity: 0.6;
}

.icon-link:focus-visible {
  outline: 2px solid #68a2ca;
  border: none;
}

.search {
  display: flex;
  background: url("../images/icons/search.svg") no-repeat center;
  background-size: auto;
  width: 44px;
  height: 64px;
}

.favorites {
  display: flex;
  background: url("../images/icons/favorites.svg") no-repeat center;
  background-size: auto;
  width: 44px;
  height: 64px;
}

.icon-favorites-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
  bottom: 10px;
  background-color: #7db54f;
  border-radius: 50% 50%;
  padding: 5px;
  margin: auto;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.nav-button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  margin-left: 20px;
  border-radius: 4px;
  background-color: #756157;
}

/* Hero */

.hero-block {
  background-color: #bdbdbd;
  background-image:
    url("../images/index/ornament.svg"),
    url("../images/index/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size:
    100% auto,
    cover;
  padding: 51px 371px 82px;
}

/* Message */

.message {
  text-align: center;
}

.message-title {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.message-title.white {
  color: #ffffff;
}

.message-description {
  font-size: 22px;
  line-height: 26px;
}

.message-description:not(:last-child) {
  margin-bottom: 54px;
}

.intro-section {
  padding-top: 69px;
  padding-bottom: 69px;
}

.invitation-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.interested-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.subscribe-section {
  padding-top: 96px;
  padding-left: 258px;
  padding-right: 258px;
  padding-bottom: 104px;
}

.subscribe-section.white {
  background: #bdbdbd url("../images/index/subscribe.jpg") no-repeat center;
  background-size: cover;
}

.subscribe-form {
  display: flex;
}

.subscribe-input.input-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 452px;
  border: none;
}

.subscribe.button {
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0 4px 4px 0;
  width: 232px;
}

.message.button {
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
  width: 376px;
}

/* Advantages */

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 385px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.advantages-item:nth-child(odd) {
  background-color: #83b3d31f;
}

.advantages-item:nth-child(even) {
  background-color: #83b3d333;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82b3d3;
}

.advantages-picture {
  grid-column: span 2;
}

.advantages-title {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.advantages-title.white {
  color: #ffffff;
}

.advantages-description {
  margin: 0;
}

.advantages-divider {
  width: 60px;
  margin: 0;
  border: 1px solid #0000004d;
}

.advantages-item:first-child > .advantages-divider,
.advantages-item:last-child > .advantages-divider {
  border: 1px solid #ffffff4d;
}

/* Services */

.services-list {
  display: flex;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 400px;
  height: 385px;
  padding: 80px 0;
  gap: 30px;
}

.services-item:nth-child(odd) {
  background-color: #83b3d31f;
}

.services-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.services-description {
  margin: 0;
}

.icon-house {
  background: url("../images/icons/house.svg") no-repeat center 80px;
}

.icon-food {
  background: url("../images/icons/food.svg") no-repeat center 80px;
}

.icon-gift {
  background: url("../images/icons/gift.svg") no-repeat center 80px;
}

/* Dialog */

dialog::backdrop {
  background-color: #f2f2f2cc;
}

.search-dialog {
  padding: 64px 70px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 #00000026;
  width: 717px;
}

.search-dialog-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.dialog-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.close-button {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: absolute;
  top: 64px;
  right: 50px;
  border: none;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-dialog-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 23px;
  width: 577px;
}

.search-dialog-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  height: 48px;
  display: flex;
  align-items: center;
}

.search-dialog-container-long {
  grid-column: span 3;
}

.search-dialog-input-date {
  width: 100%;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
  background-size: 20px 20px;
  border-radius: 4px;
  padding: 12px 20px;
}

.search-dialog-input {
  height: 48px;
  border: none;
  font-weight: 700;
  font-size: 18px;
}

.search-dialog-input-number {
  width: 31px;
  text-align: center;
  z-index: 1;
}

.search-dialog-input-number.input-text {
  padding-left: 4px;
  padding-right: 4px;
}

.input-number-container {
  display: flex;
  width: 111px;
}

.minus-button,
.plus-button {
  background-color: #f2f2f2;
  height: 48px;
  width: 40px;
  padding: 0;
}

.minus-button {
  border-radius: 4px 0 0 4px;
  background-image: url("../images/icons/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.plus-button {
  border-radius: 0 4px 4px 0;
  background-image: url("../images/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.dialog-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 4px 0 0 0;
  padding: 0 20px;
}

.dialog-message.error {
  color: #ff5757;
}

.dialog-message.info {
  color: #333333;
}

.children-container {
  grid-column: span 2;
  display: flex;
  justify-content: end;
  gap: 46px;
}

.children-label-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-info {
  background-color: #83b3d3;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  cursor: help;
}

.children-tooltip {
  visibility: hidden;
  width: 256px;
  background-color: #333333;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  position: absolute;
  top: 150%;
  left: 50%;
  margin-left: calc(-256px / 2);
  z-index: 2;
}

.children-tooltip::before {
  visibility: hidden;
  content: "";
  border: 9px solid transparent;
  border-bottom: 9px solid #333;
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translate(-50%);
}

.icon-info:hover .children-tooltip,
.icon-info:hover .children-tooltip::before,
.icon-info:focus .children-tooltip,
.icon-info:focus .children-tooltip::before {
  visibility: visible;
}

.search-dialog-submit {
  grid-column: span 4;
  background-color: #83b3d3;
  color: white;
  border-radius: 10px;
  padding: 18px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-top: calc(48px - 23px);
}

/* Catalog Header (Filters) */

.catalog-header {
  background-color: #bdbdbd;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: left;
  padding: 35px 70px 70px 70px;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  color: #ffffff;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:first-child) {
  padding-left: 28px;
}

.breadcrumbs-item.icon-arrow {
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 8px;
  height: 21px;
  opacity: 1;
}

.breadcrumbs-link {
  color: #ffffff;
}

.icon-home {
  display: flex;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-home:focus-visible {
  outline: 2px solid #68a2ca;
  border: none;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filter-group-container {
  display: flex;
  gap: 70px;
}

.filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-title {
  padding: 0;
}

.filter-list {
  display: grid;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.control {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input {
  appearance: none;
  background-color: white;
  width: 20px;
  height: 20px;
  margin: 0;
  flex-shrink: 0;
}

.control-input:focus-visible {
  outline: 3px solid #83b3d3;
}

.control-input.checkbox {
  border-radius: 4px;
}

.control-input.checkbox:checked {
  background-image: url("../images/icons/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
}

.control-input.radio {
  border-radius: 50% 50%;
}

.control-input.radio:checked {
  background-image: url("../images/icons/radio.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
}

.filter-item {
  display: flex;
  column-gap: 16px;
}

.filter-list-prices {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
}

.filter-slider-control {
  position: relative;
  grid-column: span 2;
  height: 20px;
}

.range-background {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffffff4d;
  top: 48px;
}

.range-background-active {
  position: absolute;
  background-color: #ffffff;
  width: 226px;
  height: 4px;
  top: 48px;
}

.range-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  top: 40px;
}

.range-button:hover {
  background-color: #e5e5e5;
}

.range-button:focus {
  background-color: #e5e5e5;
  outline: solid 3px #83b3d3;
}

.range-button.button-max {
  left: 206px;
}

.price-min,
.price-max {
  height: 48px;
  width: 143px;
  background-color: white;
  border: none;
}

.price-min {
  border-radius: 4px 0 0 4px;
}

.price-max {
  border-radius: 0 4px 4px 0;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.range-input-container {
  position: relative;
}

.range-label {
  position: absolute;
  z-index: 1;
  color: rgba(0, 0, 0, 0.3);
  right: 20px;
  transform: translateY(50%);
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 0 0 0;
}

.submit.button {
  padding-left: 50px;
  padding-right: 50px;
}

.reset.button {
  box-sizing: border-box;
  background-color: transparent;
  width: 191px;
  height: 36px;
  margin-top: auto;
  border: none;
}

.reset.button:hover {
  opacity: 0.6;
}

.reset.button:focus-visible {
  outline: 2px solid #83b3d3;
}

.reset.button:active {
  opacity: 0.3;
}

.reset-button:disabled {
  opacity: 0.1;
}

/* Catalog Items (Filter Results) */

.catalog-filters-result {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 70px 60px;
}

.result-settings-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  min-height: 49px;
  justify-content: space-between;
  align-items: center;
}

.result-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-right: 70px;
  text-transform: uppercase;
}

.result-settings {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.result-sort {
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 0 20px;
  margin-right: 70px;
  width: 292px;
  height: 49px;
  appearance: none;
  background-color: white;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-x: right 20px;
  background-position-y: center;
  cursor: pointer;
}

.result-sort:hover {
  border: 2px solid #68a2ca;
}

.result-sort:focus-visible {
  border: 2px solid #68a2ca;
  outline: none;
}

.result-sort:disabled {
  color: #000000;
  opacity: 0.3;
}

.result-view-list {
  display: flex;
  margin-right: 70px;
  gap: 8px;
}

.result-view-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #e5e5e5;
  border-radius: 4px;
}

.result-view-button.selected {
  border-color: #000000;
}

.result-view-button:hover,
.result-view-button:active {
  border-color: #000000;
}

.result-view-button:focus-visible {
  border: 2px solid #68a2ca;
  outline: none;
}

.icon-tile {
  background: url("../images/icons/tile.svg") no-repeat center;
}

.icon-card {
  background: url("../images/icons/card.svg") no-repeat center;
}

.icon-list {
  background: url("../images/icons/list.svg") no-repeat center;
}

.result-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.result-item {
  display: flex;
  flex-direction: column;
  width: 340px;
  border: solid 1px #e5e5e5;
  padding: 20px;
  gap: 20px;
}

.item-name {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.item-details,
.item-controls,
.item-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.rating-stars {
  display: flex;
  gap: 6px;
}

.icon-star {
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 17px;
  width: 18px;
  display: inline-block;
}

.details.button,
.favorite.button,
.rating-text {
  font-size: 16px;
  line-height: 20px;
  width: 140px;
}

.rating-text {
  text-transform: uppercase;
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px 0;
}

.result-divider {
  width: 100%;
  height: 1px;
  margin: 0;
  border: none;
  background-color: #e5e5e5;
}

.pagination-list {
  display: flex;
  width: 100%;
}

.pagination-item {
  width: 60px;
  height: 60px;
  font-weight: 700;
}

.pagination-item:not(:first-child) {
  margin-left: 8px;
}

.pagination-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link.current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link.gap {
  background-color: white;
  color: #000000;
  font-weight: 400;
}

/* Page Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
  color: #83b3d3;
}

.socials-link:hover,
.socials-link:focus-visible,
.socials-link:active {
  color: #68a2ca;
  outline: none;
}

.socials-link:focus-visible {
  outline: none;
}

.socials-link:active {
  opacity: 0.3;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.phone-link:hover,
.phone-link:focus-visible,
.phone-link:active {
  color: #756157;
}

.phone-link:focus-visible {
  outline: none;
}

.phone-link:active {
  opacity: 0.3;
}

.developer-link {
  display: flex;
}

.logo-developer {
  fill: #000000;
}

.logo-developer:hover,
.logo-developer:focus-visible,
.logo-developer:active {
  fill: #756157;
}

.developer-link:focus-visible {
  opacity: 0.7;
  outline: none;
}

.logo-developer:focus-visible {
  outline: none;
}

.logo-developer:active {
  opacity: 0.3;
}

/* Button Styles */

.blue-button {
  background-color: #82b3d3;
  color: white;
}

.grey-button {
  background-color: #f2f2f2;
}

.green-button {
  background-color: #7db54f;
}

.blue-button:hover,
.blue-button:focus-visible,
.search-dialog-submit:active {
  background-color: #68a2ca;
}

.brown-button:hover,
.brown-button:focus-visible {
  background-color: #615048;
}

.green-button:hover,
.green-button:focus-visible {
  background-color: #6c9e42;
}

.grey-button:hover {
  background-color: #e5e5e5;
}

.blue-button:focus-visible,
.brown-button:focus-visible,
.green-button:focus-visible {
  outline: none;
}

.grey-button:focus-visible {
  background-color: #e5e5e5;
  outline: solid 3px #83b3d3;
}

.grey-button:active {
  opacity: 0.8;
}

.blue-button:active,
.brown-button:active,
.green-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.blue-button:disabled,
.brown-button:disabled,
.green-button:disabled {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5e5e5;
}

/* Input Styles */

.input-text {
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  padding: 12px 20px;
}

.input-text:hover {
  background-color: #e5e5e5;
}

.input-text:focus {
  background-color: #e5e5e5;
  outline: solid 3px #83b3d3;
}

.input-number {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
