@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #333333;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

/* Common */

ul {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.button {
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #756157;
}

.subscribe.button {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.title {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.white {
  color: #ffffff;
}

/* .visually-hidden {
  visibility: hidden;
  font-size: 0;
} */

/* Page Header */

.page-header {
  display: flex;
  padding: 0 70px;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

.navigation-list,
.navigation-item {
  display: flex;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px 16px;
}

.navigation-link.current {
  border-bottom: 2px solid #756257;
}

.navigation-link.button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
}

/* Hero */

.hero-block {
  background-color: #bdbdbd;
  background-image:
    url(../images/index/ornament.svg), url(../images/index/index-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size:
    100% auto,
    cover;
  padding: 51px 371px 82px;
}

/* Message */

.about-section {
  padding: 69px 290px;
}

.visit-section {
  padding: 64px 348px;
}

.interested-section {
  padding: 96px 304px;
}

.subscribe-section {
  padding: 96px 258px 104px;
}

.message.title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.message.description {
  font-size: 22px;
  line-height: 26px;
}

.message.description:not(:last-child) {
  margin-bottom: 54px;
}

.message.accent {
  background-color: #bdbdbd;
  background-image: url(../images/index/subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.message.button {
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Advantages */

.advantages.title {
  font-size: 24px;
  line-height: 28px;
}

.advantages-item:nth-child(odd) {
  background-color: #83b3d333;
}

.advantages-item:nth-child(even) {
  background-color: #83b3d31f;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82b3d3;
}

/* Services */

.services-list {
  display: flex;
  width: 100%;
}

.services-item {
  padding: 81px 85px;
  width: 100%;
}

.services-icon {
  margin-bottom: 30px;
}

.services.title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
}

.services-item:nth-child(odd) {
  background-color: #83b3d31f;
}

/* Catalog Header (Filters) */

.catalog-header {
  background-color: #bdbdbd;
  background-image: url(../images/catalog/catalog-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: left;
  padding: 35px 70px 70px 70px;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: inline;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item {
  display: inherit;
}

.breadcrumbs-link {
  color: inherit;
}

.filter-list.prices {
  display: flex;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
}

.submit.button {
  background-color: #82b3d3;
  padding-left: 50px;
  padding-right: 50px;
}

.reset.button {
  background-color: transparent;
  padding-left: 57.5px;
  padding-right: 57.5px;
}

/* Catalog Items (Filter Results) */

.catalog-filters-result {
  padding: 50px 70px 60px;
}

.result-settings-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46.5px;
}

.result-settings {
  display: flex;
}

.result-list {
  display: flex;
  width: 100%;
}

.result-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.result-view-list {
  display: flex;
  margin-left: 70px;
}

.result-view-item {
  margin-left: 8px;
}

.item-name {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.item-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.details.button {
  font-size: 16px;
  line-height: 20px;
  padding-left: 26px;
  padding-right: 26px;
}

.favorite.button {
  background-color: #82b3d3;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.favorite.button.is-added {
  background-color: #7db54f;
}

.pagination-list {
  display: flex;
  width: 100%;
}

.pagination-item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.pagination-item:not(:first-child) {
  margin-left: 8px;
}

.pagination-item .gap {
  font-weight: 400;
}

/* Page Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-link {
  display: flex;
  width: 48px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.socials-vkontakte {
  background-image: url("../images/icons/vkontakte.svg");
}

.socials-telegram {
  background-image: url("../images/icons/telegram.svg");
}

.socials-youtube {
  background-image: url("../images/icons/youtube.svg");
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.developer-link {
  display: flex;
  width: 115px;
  height: 33px;
  background-image: url("../images/logos/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
